@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/knockout-2.2.0.js")"></script> 
    <script type="text/javascript" src="@Url.Content("~/Scripts/my-todo-list.js")"></script> 
}
<div id="body">
    <section class="content-wrapper main-content clear-fix">
        <h3>My TO DO List:</h3>
        
    </section>
</div>
